---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout title="Musical Theater Songbook vol.1 | 紗理 / SARI">
  <Header />

<main>
	<div class="disc_detail">
		<h1 class="target ttl_swingfor"><img src="/images/swingfor/logo_swingfor.png" alt="Swing For..."></h1>
		<p class="target album_lead_b"><span class="big">父・中村誠一との<br>待望の共作アルバム</span>
			メンバーが一つの部屋で演奏し<br>
			昔ながらの方法で録った音は、<br class="sp">ライブさながらの臨場感<br>
			計16曲、２枚のアルバムを同時リリース<br>
			念願のLP盤は数量限定でさらに高音質に<br>
		<span><a href="#cd_digital">↓↓CD版 &amp; デジタル版</a>　/　<a href="#analog_lp">↓↓アナログレコード版</a></span></p>
	</div>
	<div class="disc_video">
		<iframe width="800" height="400" src="https://www.youtube.com/embed/Qg9143ndIKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="disc_detail wide cf" id="cd_digital">
		<h2 class="ttl_center">CD版 &amp; デジタル版</h2>
		<div id="side_one">
			<p class="mb20"><img src="/images/swingfor/img_disc_sf_side1.jpg"></p>
			<h3 class="ttl_sub_a">CD版</h3>
			<p class="mb10">発売日：2020.7.28　価格：2000円（税込）</p>
			<a href="https://sariswing.stores.jp/items/5f0bed9c74b4e412a1153a96" class="btn_type_b" target="_blank">Online Store</a>
			<h3 class="ttl_sub_a">デジタル版</h3>
			<p class="mb10">価格：1800円（税込）</p>
			<a href="https://nakamurafamily.bandcamp.com/album/swing-for-side1" class="btn_type_b" target="_blank">Band Camp</a>
			<ol class="track_number mb20">
				<li>I Was a Little Too Lonely<span>寂しすぎて</span></li>
				<li>Shoo Fly Pie<span>シューフライパイ</span></li>
				<li>Under Paris Skies<span>パリの空の下　日本語詞：紗理</span></li>
				<li>Lonesome Road<span>孤独の道</span></li>
				<li>Violets for Your Furs<span>コートにすみれを</span></li>
				<li>On the Street Where You Live<span>君住む街角</span></li>
				<li>I Got Rhythm<span>アイガットリズム</span></li>
				<li>Snack Coltrane ”Louise”<span>スナックコルトレーン<br>日本語詞：嵐山光三郎</span></li>
			</ol>
		</div>
		<div id="side_two">
			<p class="mb20"><img src="/images/swingfor/img_disc_sf_side2.jpg"></p>
			<h3 class="ttl_sub_a">CD版</h3>
			<p class="mb10">発売日：2020.7.28　価格：2000円（税込）</p>
			<a href="https://sariswing.stores.jp/items/5f0bedd813a48b2a8dee99a9" class="btn_type_b blue" target="_blank">Online Store</a>
			<h3 class="ttl_sub_a">デジタル版</h3>
			<p class="mb10">価格：1800円（税込）</p>
			<a href="https://nakamurafamily.bandcamp.com/album/swing-for-side2" class="btn_type_b blue" target="_blank">Band Camp</a>
			<ol class="track_number mb20 blue">
				<li>Exactly Like You<span>まさにあなたのような</span></li>
				<li>Give Me the Simple Life<span>シンプルな毎日が一番</span></li>
				<li>Moonglow<span>月灯り</span></li>
				<li>“A” You’re Adorable<span>「あ」愛らしい</span></li>
				<li>Easy Living<span>気ままな暮らし</span></li>
				<li>Anything Goes<span>何でもあり</span></li>
				<li>It’s a Pity to Say Goodnight<span>まだおやすみは言いたくない</span></li>
				<li>Les Champs-Élysées<span>オーシャンゼリゼ</span></li>
			</ol>
		</div>
	</div>
	<div class="disc_detail wide" id="analog_lp">
		<h2 class="ttl_center"><span>高品質なサウンドが楽しめる</span><br>アナログレコード版</h2>
		<div class="disc_comments">
			<p class="mb20"><img src="/images/swingfor/img_disc_sf_lp.jpg"></p>
			<p class="second_lead">side1 side2 からのカップリングによる11曲入り12インチLP<br>数量限定販売</p>
			<!--p class="btn_center"><a href="#">Online Store</a></p-->
			<p class="tx_center mb40">発売日：未定　価格：4200円(税込）　全11曲</p>
			<h3>SideA</h3>
			<ol class="track_number mb20">
				<li>Exactly Like You<span>まさにあなたのような</span></li>
				<li>Shoo Fly Pie<span>シューフライパイ</span></li>
				<li>Under Paris Skies<span>パリの空の下</span></li>
				<li>Lonesome Road<span>孤独の道</span></li>
				<li>On the Street Where You Live<span>君住む街角</span></li>
			</ol>
			<h3>SideB</h3>
			<ol class="track_number blue mb20">
				<li>I Was a Little Too Lonely<span>寂しすぎて</span></li>
				<li>“A” You’re Adorable<span>「あ」愛らしい</span></li>
				<li>Violets for Your Furs<span>コートにすみれを</span></li>
				<li>It’s a Pity to Say Goodnight<span>まだおやすみは言いたくない</span></li>
				<li>Give Me the Simple Life<span>シンプルな毎日が一番</span></li>
				<li>Snack Coltrane ”Louise”<span>スナックコルトレーン</span></li>
			</ol>
		</div>
	</div>
	<div class="disc_detail mb60">
		<h2 class="ttl_center">メンバー紹介</h2>
		<ul class="sf_member_list cf">
			<li><img src="/images/swingfor/img_sfmember01.jpg">中村誠一 tenor sax, clarinet</li>
			<li><img src="/images/swingfor/img_sfmember02.jpg">紗理 vocal</li>
			<li><img src="/images/swingfor/img_sfmember03.jpg">吉岡秀晃 piano</li>
			<li><img src="/images/swingfor/img_sfmember04.jpg">田辺充邦 guitar</li>
			<li><img src="/images/swingfor/img_sfmember05.jpg">金子健 bass</li>
			<li><img src="/images/swingfor/img_sfmember06.jpg">小泉高之 drums</li>
		</ul>
		<ul class="sf_member_list cf tx_center">
			<li style="margin: auto; float: none;"><img src="/images/swingfor/img_sfmember07.jpg">Special guest<br>須田晶子 寝占友梨絵 chorus</li>
		</ul>
	</div>
	<h2 class="ttl_center">レコーディング</h2>
	<p class="tx_center_sp_left mb30"></p>
	<div class="band_description_b mb10">
		<img src="/images/swingfor/img_sf_recording.jpg" alt="レコーディング風景" class="sp">
		<p class="tx_center">※実際の録音風景</p>
		<p>アナログ録音。昔ながらの録音方法を再現、その良さを追求したレコーディングを実施。<br>同じ部屋で１発録音。ライブ録音さながらの臨場感が楽しめる。</p>
	</div>
	<div class="disc_detail">
		<h2 class="ttl_center">Booklet / ライナーノーツより</h2>
		<div class="disc_comments">
			<p class="sf_booklet">娘の紗理が、お父さん一緒にアルバム作ろうと言ってくれた。コロナが始まる大分前である。そして録音の日にちが決まった。2020年3月30日だった。まさにコロナの真っ最中にバッティング、ずい分悩んだけど、やらないと一体いつになったらできるようになるのか、予想もつかないので決行した。レコーディングのメンバーも心良く了解してくれた。<br>紗理のこだわりでライブでやっているように一つの部屋にみんな集まって録音した。普通は、唄とかサックス、ドラムなんかは別の部屋で別れて録音する。音が互いにかぶらないようにである。今回は、そうしていないので間違いは許されない。なんと一日で１6曲も録音してしまった。コロナに負けないCDが出来た。<br><span class="sign_name">中村誠一</span></p>
		</div>
		<div class="disc_comments">
			<p class="sf_booklet">音楽を楽しんで聴いてもらうには、まず自分が目一杯楽しむ事！<br>そうすれば、聴いている人の耳にもその楽しさが届くはず。<br>いつもそんな事を思ってうたを歌っている。<br>このアルバムのタイトル”Swing for…” の先には、３つの意味がある。自分のための ”me” 聴いてくださる人のための ”You” そして、もう1人の宛名は、父と私が一番にこのアルバムを届けたい人だ。私たちの音楽活動をいつも応援してくれ、そばで支えてくれた亡き母中村悦子に捧げたい。きっとこのアルバムを一番に喜んでくれるだろう。<br>Swing for . . .<br><span class="sign_name">紗理</span></p>
		</div>
	</div>
</main>

  <Footer />
</BaseLayout>