---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout
  title="Girl Talk / Chai-Chee Sisters | 紗理 / SARI"
  description="ヴォーカルユニット Chai-Chee Sisters の作品。Girl Talk。"
>
  <Header />

<main>
	<div class="disc_detail">
		<h1 class="target">Girl Talk / Chai-Chee Sisters</h1>
		<p class="target album_lead"><span class="big">SARI&amp;YUKA<br class="sp">お洒落でガーリーな<br class="sp">コーラスデュオ<br>「チャイチーシスターズ」待望のデビューアルバム</span><br>akikoの全編プロデュース！<br>ジャズ初心者からヴィンテージミュージック好きまで幅広く楽しめる内容。<br>アンドリュース・シスターズさながらのコーラスや<br>ガールズDoo Woopなど、数曲で披露している日本語の歌詞も聴きどころ。</p>
	</div>
	<div class="disc_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/gum6kio7jqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	<div class="disc_detail">
		<div class="jacket">
			<img src="/images/chaichee/img_disc11.jpg">
		</div>
		<div class="disc_info cf">
			<p class="mb20">発売元：ユニバーサルミュージック<br>レーベル：ability muse records<br>価格： ︎2,315円＋税</p>
			<ol class="track_number mb20">
				<li>Billy A Dick</li>
				<li>Chatanooga Choo Choo</li>
				<li>Doodlin Song</li>
				<li>Girl Talk</li>
				<li>Alexander’s Ragtime Band</li>
				<li>Why Do Fools fall in Love （恋はくせもの）</li>
				<li>Five Pennies~Good Night Sleep Tight  （ 映画「五つの銅貨」より）</li>
				<li>That Mellow Saxophone</li>
				<li>Tea For Two （二人でお茶を）</li>
				<li>It’s Been A Long Long Time  （お久しぶりね）</li>
			</ol>
			<p>紗理 Vocal, kazoo<br>出口優日 Vocal<br>黄啓傑　Trumpet<br>富永寛之  Guitar, Ukulele<br>小林創　Piano<br>竹田麻里絵 Piano<br>寺尾陽介 Bass, Washboard<br>大澤公則 Drums, Percussion<br>佐藤芳明 Accordion<br>akiko  Chorus, Glockenspiel</p>
		</div>

		<div class="btn_area cf">
			<p class="btn_center">
				<a href="https://www.amazon.co.jp/Girl-Talk-%E3%83%81%E3%83%A3%E3%82%A4%E3%83%81%E3%83%BC%E3%82%B7%E3%82%B9%E3%82%BF%E3%83%BC%E3%82%BA/dp/B01E0DNE46/ref=sr_1_1?dchild=1&qid=1587892919&refinements=p_32%3A%E3%83%81%E3%83%A3%E3%82%A4%E3%83%81%E3%83%BC%E3%82%B7%E3%82%B9%E3%82%BF%E3%83%BC%E3%82%BA&s=music&sr=1-1">amazon</a>
			</p>
		</div>
		<div class="disc_comments">
			<h2>プロフィール<span>Chai-Chee Sisters(チャイチーシスターズ）</span></h2>
			<p>SARI（紗理）とジャズ・ヴォーカリストのYUKA（出口優日）の二人から成るジャズコーラスユニット。洗足音楽大学卒業後、それぞれソロで活躍していた二人が2010年に結成。1920~50年代の古き良きジャズスタンダードを中心に自作の日本語詞なども取り入れ、親しみやすく楽しいジャズを目指す。2012年、ジャズシンガーakikoのニューオリンズ録音のミニアルバム『Swingy,Swingy』にてフィーチャリングされる。また、akikoと共にNHKBS1『地球テレビ エル•ムンド』へのテレビ出演やBillboardTokyo等に出演。</p>
						<img src="/images/chaichee/chaichee.jpg">
		</div>
	</div>
</main>

  <Footer />
</BaseLayout>