@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------------
*  基本情報
* --------------------------------------------------------------------------------------------------*/
html {
    height: 100%;
}
body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    overflow-y: scroll;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}


html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}
@media all and (-ms-high-contrast: none)  {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
img,
form {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
    line-height: 100%;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    color: #000;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: normal;
    letter-spacing: 2px;
}

body a {
    text-decoration: none;
    outline: 1px solid transparent;
	color: #000;
    transition: all 0.8s;
}
body {
    min-width: 1100px;
    position: relative;
    background: #eae0d2;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 1000px;
    width: 92%;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
}
.btnTypeA {
  background-color: #004899;
  color: #fff;
  width: 190px;
  display: block;
  margin: auto;
  background-image: url("../img/bg_arrow_a.png");
  background-repeat: no-repeat;
  background-position: 72% center;
  padding: 16px 48px;
}


.tx_center {
    text-align: center;
}
.tx_center_sp_left {
    text-align: center;
}
.tx_left {
    text-align: left;
}
.tx_right {
    text-align: right;
}
.clear {
    clear: both;
}

/* ----------------------------------------------------------------------------------------------------
*  ヘッダー
* --------------------------------------------------------------------------------------------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header .wrap {
    padding-top: 20px;
    max-width: 100%;
    left: 3%;
    margin-right: 0;
    position: absolute;
}
header .wrap h1 {
    margin-bottom: 20px;
}
header .logo a {
    font-size: 3rem;
    font-family: 'Poiret One';
}
header .logo a:hover {
    color: #666;
}
header #navpc {
    margin-bottom: 20px;
    display: inline;
}

header #navpc .gnav {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;*/
}

header #navpc .gnav li {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
}
header #navpc .gnav li+li {
}

header #navpc .gnav li a {
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8em;
    height: 16px;
    font-family: 'Poiret One';
}
header #navpc .gnav li a:hover,
header #navpc .gnav li a.active {
    color: #999;
}
header #navpc .gnav li a.active {
    color: #004899;
}

header#lower {
    position: fixed;
    background: #fff;
    height: 67px;
}
header#lower h1,
header#lower p {
    position: absolute;
    top: 10px;
}
header#lower .gnav {
    position: absolute;
    left: 260px;
    top: 20px;
}
header#lower .gnav li {
    float: left;
    display: inline;
    width: inherit;
    margin-right: 25px;
}

.social_btn_pc {
}
.social_btn_pc li {
    float: left;
}
.social_btn_pc li a i {
    color: #000;
    font-size: 1.5em;
    margin-right: 12px;
}
.social_btn_pc li a i:hover {
    color: #999;
}
header#lower .social_btn_pc {
    position: absolute;
    right: 0;    
}


header .zdo_drawer_button {
    display: none;
}

@media screen and (max-width: 768px) {
    header .zdo_drawer_button {
        display: block;
        background: none;
        border: none;
        padding: 0;
        width: 34px;
        height: 34px;
        letter-spacing: 0.1em;
        cursor: pointer;
        position: fixed;
        top: 7px;
        bottom: 0;
        right: 15px;
        z-index: 1001;
        text-align: center;
        outline: none;
    }
}

header .zdo_drawer_button.active .zdo_drawer_bar {
    width: 32px;
    height: 3px;
    border-radius: 5px;
}

header .zdo_drawer_button.active .zdo_drawer_bar1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 8px 5px -3px;
}

header .zdo_drawer_button.active .zdo_drawer_bar2 {
    opacity: 0;
}

header .zdo_drawer_button.active .zdo_drawer_bar3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 13px 2px 5px;
}

header .zdo_drawer_button.active .zdo_drawer_menu_text {
    display: none;
}

header .zdo_drawer_button.active .zdo_drawer_close {
    display: block;
}

header .zdo_drawer_bar {
    display: block;
    height: 3px;
    margin: 6px 0;/*
    -webkit-transition: all 0.2s;
    transition: all 0.2s; */
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

header .zdo_drawer_bar.zdo_drawer_bar3 {
    margin: 6px 0 5px;
}

header .zdo_drawer_text {
    text-align: center;
    font-size: 10px;
}

header .zdo_drawer_close {
    letter-spacing: 0.08em;
    display: none;
}

header .zdo_drawer_menu_text {
    display: block;
    padding-bottom: 5px;
}

header .zdo_drawer_nav {
    padding: 112px 24px;
}

header .zdo_drawer_nav li {
    font-size: 16px;
    margin-bottom: 15px;
}

header .zdo_drawer_button .zdo_drawer_bar {
    background-color: #000;
}

#topImages {
    margin-bottom: 50px;
    transition: .8s;
    transition-delay: .8s;
}
#scrollBtn {
    position: absolute;
    top: 85%;
    left: 4%;
    cursor: pointer;
}
#to_webshop {
    position: absolute;
    top: 10%;
    right: 3%;
    cursor: pointer;
    z-index: 1000;
	width: 180px;
}
.swing {
    transform-origin: top left;
    animation: burabura linear 2s forwards;
}
/* ------------------------------
    インスタグラム
------------------------------ */
.instaTitle {
    text-align: center;
    margin-bottom: 40px;
}
.instaTitle span {
    font-size: 2.8rem;
    font-family: 'Poiret One';
}
#sample {
  width: 1000px;
  margin: 0 auto 80px;
}
#sample li {
  float: left;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#sample li a {
  display: block;
}
#sample li a img {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#sample .instagram-image {
  float: left;
}
#sample .instagram-data {
  float: right;
  width: 800px;
  display: none;
}
#sample .instagram-like .like-user {
  float: left;
  margin-right: 20px;
  font-size: 11px;
}
#sample .instagram-comments {
  clear: both;
  padding-top: 10px;
  display: none;
}
#sample .instagram-comments .comments-user {
  overflow: hidden;
  margin-bottom: 10px;
}
#sample .instagram-comments .comments-user-icon {
  float: left;
  margin-right: 10px;
}
h2.insta_follow {
  text-align: center;
  margin-bottom: 20px;
}
h2.insta_follow img {
  width: 50px;
}

/* ----------------------------------------------------------------------------------------------------
*  インスタグラム 新
* --------------------------------------------------------------------------------------------------*/

.insta_area {
    max-width: 900px;
    margin: auto auto 30px;
}
#insta-window {
    background: none !important;
    border: none !important;
    padding: none !important;
}

/* ----------------------------------------------------------------------------------------------------
*  オトナのJAZZ TIME
* --------------------------------------------------------------------------------------------------*/
#otonaJazz {
    margin-bottom: 50px;
    width: 1000px;
    margin: auto;
}
#otonaJazz h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 30px;
}
#otonaJazz p {
    text-align: center;
    width: 70%;
    margin: 0 auto 30px;
}
#otonaJazz img {
    width: 100%;
}

/* ----------------------------------------------------------------------------------------------------
*  下層ページ
* --------------------------------------------------------------------------------------------------*/
div.mainTitle {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 244px;
}
div.mainTitle h1,
div.mainTitle p {
    color: #333;
    font-size: 3.4rem;
    padding: 30px 0 0 30px;
    font-family: 'Poiret One';
}
div.mainTitle {
    background-size: cover;
    height: 600px;
}
div.mainTitle.about {
    background: url(../img/bg_about.jpg) no-repeat center top;
    background-size: cover;
}
div.mainTitle.contact {
    background: url(../img/bg_contact.jpg) no-repeat center top;
    background-size: cover;
}
div.mainTitle.discography {
    background: url(../img/disco.jpg) no-repeat center top;
    background-size: cover;
}
#lowerWrap {
    width: 1000px;
    margin: auto;
    padding-top: 90px;
}
#lowerWrap section {
    margin-bottom: 60px;
}
#lowerWrap h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
    padding-top: 20px;
    font-family: 'Poiret One';
}
#lowerWrap h2 span {
    font-size: 1.8rem;
}
#lowerWrap h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
#lowerWrap p {
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#lowerWrap dl dt {
    margin-bottom: 4px;
    letter-spacing: 1px;
}
#lowerWrap div.lead {
    width: 800px;
    background-color:rgba(255,255,255,0.7);
    margin: -100px 30px 60px;
    padding: 20px;
    float: right;
}
#lowerWrap div.lead p {
    line-height: 2em;  
    text-align: justify;
    text-justify: inter-ideograph;
    font-feature-settings: "palt" 1;
    letter-spacing: 2px;
}
#lowerWrap div.lead h2 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    padding: 0;
}
#lowerWrap div.lead h3 {
    font-size: 1.8rem;
}
#lowerWrap table.biography {
    width: 80%;
    margin-bottom: 50px;
}
#lowerWrap table.biography th {
    width: 14%;
    text-align: center;
}
#lowerWrap table.biography tr {
    /* background: #e0d7ae; */
    background: #e2ece3;
    border-bottom: 1px solid #efefef;
}
#lowerWrap table.biography th,
#lowerWrap table.biography td {
    padding: 14px 18px;
    vertical-align: top;
    line-height: 2em;
    letter-spacing: 1px;
}
.profList {
    list-style:  none;
    margin:  0;
    padding: 0;
    margin-bottom: 30px;
}
.profList li {
    margin-bottom: 5px;
    padding-left:1.5em;
    text-indent:-1.5em;
}
.profList li:before {
    content:  "";
    width:  10px;
    height:  10px;
    display:  inline-block;
    background-color: #b2f5b5;
    border-radius:  50%;
    position:  relative;
    top: -1px;
    margin-right: 10px;
}
dl.profLive dt{
    font-weight: bold;
    font-size: 1.5rem;
}
dl.profLive dd {
    margin-bottom: 15px;
    margin-left: 15px;
}
header.entry-header {
    position: inherit;
    width: 800px;
    margin: 30px auto 40px;
}
h1.entry-title {
    position: inherit;
    font-size: 2.4rem;
}
.entry-content {
    width: 800px;
    margin: auto auto 60px;
}
.entry-content img {
    height: auto;
}
#comments {
    display: none;
}
h2.screen-reader-text,
.screen-reader-text {
    display: none;
}
div.nav-previous {
    margin-bottom: 20px;
    width: 49%;
    float: left;
    text-align: left;
}
div.nav-next {
    width: 49%;
    float: right;
    text-align: right;
}
.nav-links {
    width: 800px;
    margin: auto;
}

/********* blog *********/
h1.postList_title {
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
    font-family: 'Poiret One';
}
div.updateBox {
    width: 89%;
    padding: 56px 6%;
    /*border-top: dashed 4px #d0e7f6;*/
    /*background: url(../images/bg_star_yellow.png) repeat-x top left; */
    background-image: url(../images/bg_star_yellow.png), url(../images/bg_star_yellow.png);
    background-position: left top, left bottom;
    background-repeat: repeat-x, repeat-x;
}
dl.blogList {
    margin-bottom:50px;
    display: block;
    margin-bottom: 0px;
}

dl.blogList dt {
    color: #666;
    float: left;
    margin-bottom: 5px;
    clear: both;
    width: 18%;
    padding-top: 10px;
    font-style: italic;
}

dl.blogList dd {
    width: 78%;
    margin-bottom: 10px;
    float: right;
    padding-top: 10px;
    font-weight: bold;
}
div.pagebute {
    margin-top: 30px;
}

ul.scheduleList {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
ul.scheduleList li {
    margin-bottom: 20px;
    text-align: center;
}
ul.scheduleList li a {
    font-weight: bold;
}

#lowerWrap div.entry-content p {
    margin-bottom: 5px;
    line-height: 1.6em;
}
div.entry-content p strong {

}
div.entry-content p a {
    text-decoration: underline;
}

#lowerWrap .entry-content h2 {
    font-size: 2.6rem;
    font-family: inherit;
    margin-bottom: 10px;
    line-height: 1.6em;
    padding-top: 10px;
}
#lowerWrap .entry-content h3 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}
main.bgphoto_a {
    background-image: url(../img/003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main.bgphoto_a .lighter {
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 100px;
}
.link_btns {
    width: 500px;
    margin: auto;
}
.link_btns li {
    margin-bottom: 20px;
    border: 2px solid #222;
    box-shadow: 8px 8px 0px 0 #7aceab;
}
.link_btns li a {
    padding: 15px;
    background-color: #fff;
    display: block;
}

/* ----------------------------------------------------------------------------------------------------
*  お問い合わせ
* --------------------------------------------------------------------------------------------------*/
#contactWrap {
    background: rgba(255,255,255,0.7);
    width: 90%;
    margin: -50px auto 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.formArea {
    width: 60%;
    margin: auto; 
}
.formArea p {
    line-height: 1em;
}
.formArea p.contact_lead {
    font-weight: bold;
    margin-bottom: 30px;
}
#lowerWrap #contactWrap h2 {
    margin-bottom: 20px;
    padding-top: 0;
}
.formArea input,
.formArea textarea,
.formArea select {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 98%;
    padding: 1.5%;
    font-size: 14px;
    border: 1px #cacaca solid;
}
.formArea select {
    border: 1px solid #ccc;
}
.formArea input[type="button"],
.formArea input[type="submit"] {
    width: 100px;
    margin: auto;
    background-color: #7aceab;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
}
.formArea select {
    background-image: url(../img/icon_select_arrow.png);
    background-color: #fff;
    background-position: 99% center;
    background-repeat: no-repeat;
}
.formArea .wpcf7-form-control-wrap {
    margin-top: 10px;
    display: block;
}
.formArea .screen-reader-response,
.formArea .wpcf7-not-valid-tip {
    color: red;
    margin-top: 6px;
}
.formArea i {
    font-size: 20px;
    margin-right: 5px;
    color: #7aceab;
}
#form_submit {
    text-align: center;
}
.formArea dl dd {
    margin-bottom: 20px;
}
.formArea dl dt.must:after {
    content: "※";
}
.formArea textarea {
    height: 200px;
}
.formArea iframe {
    width: 100%;
    border: none;
}
/* ----------------------------------------------------------------------------------------------------
*  ディスコグラフィー
* --------------------------------------------------------------------------------------------------*/
#discoWrap {
    background: rgba(255,255,255,0.7);
    width: 90%;
    margin: -50px auto 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

#discoWrap h2 {
    margin-top: 50px;
    text-align: center;
}
#discoWrap h2 span {
    display: block;
    font-size: 12px;
}
.discoArea {
    margin: auto;
    width: 90%;
}
.discoArea dl {
    margin-bottom: 25px;
}
.discoArea dl dt {
    text-align: center;
}
.discoArea dl dd {
    text-align: center;
    font-size: 1.8rem;
}
.discoArea dd img {
    width: 350px;
}
#lowerWrap .discoArea h3 {
    font-size: 1.6rem;
    margin-top: 40px;
}
#lowerWrap .discoArea p {
    font-size: 1.8rem;
    text-align: center;
}
.dic_main_list {
}
.dic_main_list li {
    width: 50%;
    padding: 2%;
    position: relative;
    float: left;
}
.dic_main_list li:nth-child(even){
    margin-bottom: 10px;
}

.other_list li {
    float: left;
    width: 33.333%;
    padding: 2%;
    height: 300px;
    margin-bottom: 25px;
    position: relative;
}

.dic_main_list li a:hover,
.other_list li a:hover {
    opacity: 0.7;
}
.dic_main_list li a .more,
.other_list li a .more {
    opacity: 0;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow:1px 1px 3px #000000;
}
.dic_main_list li a:hover .more,
.other_list li a:hover .more {
    transition: all 0.8s;
    opacity: 0.8;
}
.fa-chevron-right {
    margin-right: 8px;
}

/* ----------------------------------------------------------------------------------------------------
*  ディスコグラフィー詳細
* --------------------------------------------------------------------------------------------------*/
.disc_detail {
    padding-top: 67px;
    width: 860px;
    margin: auto;
}
.disc_detail.wide {
    width: 940px;
}
.disc_detail h1 {
    font-family: 'Poiret One';
    font-size: 5.4rem;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 40px;
}
.disc_detail h1.ttl_swingfor {
    margin-bottom: 40px;
}
.disc_detail h1.ttl_mtsb {
    max-width: 700px;
    margin: auto;
    padding-top: 40px;
}
.disc_detail h1.type_b {
    padding-top: 80px;
    margin-bottom: 30px;
}
.disc_detail h1.type_c {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.album_lead {
    margin-bottom: 130px;
    font-size: 2rem;
    line-height: 2.6em;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    text-align: center;
    font-size: 1.8rem;
}
.album_lead_b {
    margin-bottom: 140px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.2em;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.album_lead_c {
    margin: 0 auto 30px;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.2em;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.album_lead_b span,
.album_lead_c span {
    font-size: 1.2rem;
}
.album_lead span.big {
    font-size: 2.8rem;
}
.album_lead_b span.big,
.album_lead_c span.big {
    font-size: 2.6rem;
    display: block;
    margin-bottom: 20px;
}
.second_lead {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 2rem;
    margin-bottom: 40px;
    line-height: 2em;
    text-align: center;
}
.disc_video {
    text-align: center;
    margin: auto auto 50px;
    padding: 50px 0;
    background: #000;
}
.jacket {
    float: left;
    width: 48%;
}
.disc_info {
    float: right;
    width: 49%;
}
.track_number {
  list-style: none;
  padding-left: 0;
  display: table;
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}
.track_number li:after {
  content: "";
  display: block;
  margin-bottom: 0.8em;
}
.track_number li {
    letter-spacing: 0;
    text-indent: -1.4em;
    margin-left: 1.4em;
    margin-bottom: 10px;
}
.track_number li:before {
    counter-increment: item;
    content: counter(item)'.';
    padding-right: .5em;
    font-weight: bold;
    font-size: 1.7rem;
    font-style: italic;
    color: #e54530;
}
.track_number.blue li:before {
    color: #398eb5;
}

.track_number li span {
    margin-left: 12px;
}
.btn_area {
    clear: both;
    padding: 60px 0;
}
.btn_area ul li {
    float: left;
    width: 33.333%;
    padding: 3%;
}
.btn_area ul li a {
    display: block;
    text-align: center;
    border: 1px solid #333;
    padding: 15px 0;
    position: relative;
}
.btn_area ul li a:before {
    content: ">";
    position: absolute;
    top: 14px;
    left: 8%;
}
.btn_area ul li a:hover {
    color: #fff;
    background: #333;
}
.btn_area ul li a:hover:before {
    content: ">";
    position: absolute;
    top: 14px;
    left: 8%;
    color: #fff;
}
.btn_area_b {
    clear: both;
    padding: 60px 0;
}
.btn_area_b ul {
    display: flex;
    justify-content: space-between;
}
.btn_area_b ul li {
    width: 24%;
}
.btn_area_b ul li a {
    display: block;
    text-align: center;
    border: 1px solid #333;
    padding: 15px 0;
    position: relative;
}
.btn_area_b ul li a:before {
    content: ">";
    position: absolute;
    top: 14px;
    left: 8%;
}
.btn_area_b ul li a:hover {
    color: #fff;
    background: #333;
}
.btn_area_b ul li a:hover:before {
    content: ">";
    position: absolute;
    top: 14px;
    left: 8%;
    color: #fff;
}
.disc_comments {
    width: 85%;
    margin: auto;
}
.disc_comments h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}
.disc_comments h2 span {
    margin-left: 10px;
    font-size: 1.4rem;
}
.disc_comments h3 {
    margin-bottom: 15px;
    font-family: 'Poiret One';
    font-size: 1.9rem;
    border-bottom: 1px dotted #333;
}
.disc_comments p {
    margin-bottom: 40px;
    font-feature-settings: initial;
}
.btn_center {
    text-align: center;
    clear: both;
    margin-bottom: 50px
}
.btn_center a {
    width: 240px;
    display: block;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    padding: 14px 0;
    position: relative;
    margin: auto;
}
.btn_center a:before {
    content: ">";
    position: absolute;
    top: 14px;
    left: 12%;
}
.btn_center a:hover {
    background: #000;
    color: #fff;
}
.btn_center a:hover:before {
    color: #fff;
}
.band_description,
.band_description_b,
.band_description_c {
    background-image: url(../img/img_pcv01.jpg);
    background-repeat: no-repeat;
    clear: both;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.band_description_b {
    background-image: url(../img/img_sf_recording.jpg);
    background-position: top right;
    height: 80vh;
}
.band_description_c {
    background-image: url(../img/img_pcv02.jpg);
    height: 120vh;
}
.band_description_d {
    background-image: url(../img/stores_header.jpg);
    background-position: top right;
    height: 80vh;
}
/*.pcv2_new_release {
    width: 100%;
    background-image: url(../img/img_pcv03.jpg);
    background-size: cover;
    height: 340px;
    margin-bottom: 90px;
}*/
p.pcv2_new_release {
    line-height: 1.5em;
    padding-top: 30px;
    font-family:'Poiret One';
    text-align: center;
    font-size: 8rem;
    color: #5cdcf2;
    background: -webkit-linear-gradient(0deg, #00d5a0, #00cdff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.band_description p,
.band_description_b p {
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    text-shadow: #000 1px 0 10px, 1px 1px 2px #000;
    left: 3%;
    bottom: 5%;
}
/* .band_description a {
    display: block;
    width: 240px;
    position: absolute;
    right: 3%;
    bottom: 5%;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 14px 0;
}
.band_description a:before {
    content: ">";
    position: absolute;
    top: 14px;
    left: 12%;
} */

.ttl_center {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-family: 'Poiret One';

}
.ttl_center_b {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.ttl_center span {
    font-size: 2rem;
}
.sign_name {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 2rem;
    text-align: right;
    display: block;
}
#side_one {
    float: left;
    width: 48%;
}
#side_two {
    float: right;
    width: 48%;
}
.sf_member_list li {
    float: left;
    width: 47%;
    margin-bottom: 30px;
    text-align: center;
}
.sf_member_list li:nth-child(even) {
    margin-left: 6%;
}
.sf_member_list li img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 50%;
}
.sf_booklet {
    text-align: justify;
    margin-bottom: 20px;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 1.8rem;
    line-height: 2em;
}
.ttl_sub_a {
    font-weight: bold;
    font-size: 1.8rem;
}

a.btn_type_b {
    background-image: url(../img/arrow_ttl_sub.png);
    background-repeat: no-repeat;
    background-position: 3% center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 32px;
    background-color: #fff;
    display: block;
    position: relative;
    margin-bottom: 30px;
    transition: .5s;
}
a.btn_type_b:hover {
    background-image: url(../img/arrow_ttl_sub_r.png);
    padding: 10px 15px;
    background-position: 97% center;
    color: #e54530;
}
a.btn_type_b.blue:hover {
    background-image: url(../img/arrow_ttl_sub_b.png);
}
a.btn_type_b.blue:hover {
    color: #398eb5;
}

a.btn_type_b::after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: #e54530;
}
a.btn_type_b.blue::after {
    background-color: #398eb5;
}
a.btn_type_b::after {
    bottom: -1px;
    right: 0;
    z-index: 1;
}
a.btn_type_b:hover::after {
    width: 100%;
}

.construction {
    width: 100%;
    padding: 10px 32px;
    border:solid 1px #999;
    background-color: #ccc;
    margin-bottom: 20px;
    color: #999;
    background-image: url(../img/arrow_ttl_sub.png);
    background-repeat: no-repeat;
    background-position: 3% center;
}

/* ----------------------------------------------------------------------------------------------------
*  パンくず
* --------------------------------------------------------------------------------------------------*/
.bread {
    width: 100%;
    background: #0d0d0d;
    height: 30px;
    margin-bottom: 50px;
}
.bread ul {
    width: 1000px;
    margin: auto;
}
.bread ul li {
    float: left;
    font-size: 1.3rem;
    padding: 4px 0px;
    margin-right: 10px;
}
.bread ul li:nth-child(2),
.bread ul li:nth-child(3) {
    background-image: url(../img/img_arrow_s.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 12px;
}
.bread ul li,
.bread ul li a {
    color: #fff;
}

/* ----------------------------------------------------------------------------------------------------
*  Not Found ＆ Search
* --------------------------------------------------------------------------------------------------*/
.not-found {
    position: relative;
}
.not-found header,
#lowerWrap .page-header {
    position: inherit;
    max-width: 1000px;
    margin: auto;
}
.entry-footer {
    display: none;
}
/* ----------------------------------------------------------------------------------------------------
*  ページボトム
* --------------------------------------------------------------------------------------------------*/
body #bottom_contact ul li p.tel a {
    color: #fdd000;
} 
div.sectionInner {
    width: 1000px;
    margin: auto;
}

.pagetop {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.pagetop i {
    color: #7aceab;
    font-size: 3em;
}
footer {
}
footer .footer_right {
    width: 70%;
    float: right;
    margin-bottom: 40px;
}
footer .footer_right ul {
    width: 28%;
    float: left;
}
footer .footer_right ul li {
    background-image: url(../img/bg_arrow_b.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 15px;
    line-height: 1em;
    margin-bottom: 10px;
}
footer .footer_right ul li a {
    color: #fff;
    font-size: 1.3rem;
}
footer .footer_left {
    margin-bottom: 40px;
}
footer .footer_left p {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
#bottom_contact ul li p.businessHour {
    font-size: 1.3rem;
    font-weight: normal;
    margin-left: -6px;
    color: #d0dbff;
}
footer .footer_left p.address a {
    color: #fff;
    background: #004899;
    text-align: center;
    padding: 8px 0px;
    margin-top: 20px;
    display: block;
    width: 140px;
}
footer .footer_left .logo {
    margin-bottom: 20px;
}
footer .copyright {
    color: #000;
    text-align: center;
    font-size: 1.1rem;
    clear: both;
    padding: 10px 0px 20px;
    letter-spacing: 1px;
    clear: both;
}


/* ----------------------------------------------------------------------------------------------------
*  スマホ
* --------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    .sp {
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .tx_center_sp_left {
        text-align: left;
    }
    header #navpc {
        display: none;
    }
    body {
        min-width: 100%;
    }
    main {
        width: 100%;
    }
    header {
        z-index: 999;
        position: inherit;
        position: fixed;
        height: 50px;
    }
    header#lower {
        background-color: #e2d6c5;
	}
    header .wrap {
        padding-top: 10px;
    }
    #navpc {
        display: none;
    }
    header .wrap h1 {
        margin-bottom: 0;
    }
    header .logo a {
        font-size: 2.2rem;
    }
    header#lower {
        height: 50px;
    }
    header#lower h1 {
        left: 0;
        top: 8px;
    }
    #navsp{
        display: none;
        width: 100%;
        z-index: 333;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 49px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    #navsp .navsp_inner{
        margin: auto;
        height: 100%;
        overflow-y: auto;
        padding: 15px 4% 40px;
        background: #e2d6c5;
    }
    #navsp .navsp_inner .gnav{
        position: inherit;
        margin-top: 20px;
    }
    header#lower #navsp .navsp_inner .gnav li,
    #navsp .navsp_inner .gnav li{
        display: block;
        border-bottom: 1px solid #fff;
        float: none;
    }
    header#lower .gnav {
        left: inherit;
        top: inherit;
    }
    header#lower #navsp .navsp_inner .gnav li a,
    #navsp .navsp_inner .gnav li a {
        font-size: 1.3rem;
        color: #000;
        padding: 14px 0 14px 5px;
        display: block;
        position: relative;
    }
    header#lower .gnav li {
        margin-right: 0;
    }
    .social_btn_pc {
        display: none;
    }
    header#lower .social_btn_sp,
    .social_btn_sp {
        padding-top: 15px;
        padding-left: 5px; 
    }
    .social_btn_sp ul li {
        float: left;
    }
    .social_btn_sp ul li i {
        color: #000;
        font-size: 2rem;
        margin-right: 15px;
    }
    section#sec-instagram {
        text-align: center;
    }
    #topImages {
        padding-top: 50px;
    }
    #scrollBtn {
        display: none;
    }
    #to_webshop {
        position: inherit;
        margin-bottom: 30px;
        text-align: center;
        top: inherit;
        right: inherit;
		width: inherit;
    }
    #sample {
        width: 310px;
    }
    #sample li {
        width: 155px;
        height: 155px;
        object-fit: cover;
    }
    #otonaJazz {
        width: 96%;
    }
    #otonaJazz p {
        width: 90%;
    }
    #info .list li {
        clear: both;
        line-height: inherit;
    }


    /* ----------------------------------------------------------------------------------------------------
    *  下層ページ
    * --------------------------------------------------------------------------------------------------*/
    div.mainTitle {
        width: 100%;
        height: 244px;
    }
    div.mainTitle.about {
        height: 300px;
        background-position: left;
    }
    div.mainTitle.contact {
        height: 300px;
        background-position: left;
    }
    div.mainTitle h1,
    div.mainTitle p {
        font-size: 2.4rem;
        padding: 10px 0 0 10px;
    }
    #lowerWrap {
        width: 100%;
        padding-top: 50px;
    }
    #lowerWrap section {
        margin-bottom: 60px;
    }
    #lowerWrap h2 {
        font-size: 2.8rem;
        font-family: 'Poiret One';
    }
    #lowerWrap h2 span {
        font-size: 1.8rem;
    }
    #lowerWrap h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    #lowerWrap p {
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
    #lowerWrap div.lead {
        width: 96%;
        background-color:rgba(255,255,255,0.7);
        margin: -40px auto 50px auto;
        float: none;
    }
    #lowerWrap div.lead p {
        line-height: 2em;  
        text-align: justify;
        text-justify: inter-ideograph;
        font-feature-settings: "palt" 1;
        letter-spacing: 1px;
    }
    #lowerWrap div.lead h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        padding: 0;
    }
    #lowerWrap .profInner {
        width: 94%;
        margin: auto;
    }
    #lowerWrap table.biography {
        width: 100%;
        margin-bottom: 50px;
        padding: 7px 0;
    }
    #lowerWrap table.biography th {
        width: 24%;
        text-align: center;
        letter-spacing: 1px;
        padding: 7px 0;
    }
    #lowerWrap table.biography tr {
        border-bottom: 2px solid #efefef;
    }
    #lowerWrap table.biography td {
        letter-spacing: 1px;
        padding: 7px 4px;
    }
    .profList {
        list-style:  none;
        margin:  0;
        padding: 0;
        margin-bottom: 30px;
    }
    .profList li {
        margin-bottom: 5px;
    }
    .profList li:before {
        content:  "";
        width:  10px;
        height:  10px;
        display:  inline-block;
        background-color: #b2f5b5;
        border-radius:  50%;
        position:  relative;
        top: -1px;
        margin-right: 10px;
    }
    #contactWrap {
        width: 100%;
        padding-top: 20px;
    }
    .formArea {
        width: 96%;
        margin: auto auto 30px;
        padding: 2%;
        float: none;
    }
    #lowerWrap .formArea p {
        letter-spacing: 0;
    }
    dl.profLive dt{
        font-weight: bold;
        font-size: 1.5rem;
    }
    dl.profLive dd {
        margin-bottom: 15px;
        margin-left: 15px;
    }
    #lowerWrap .entry-content {
        width: 96%;
    }
    .dic_main_list li {
    width: 100%;
    padding: 2%;
    float: none;
    margin-bottom: 15px;
    }
    .other_list li {
    width: 100%;
    padding: 2%;
    float: none;
    height: inherit;
    }
    .disc_detail,
    .disc_detail.wide {
        width: 100%;
    }
    .disc_detail .album_lead,
    .disc_detail .album_lead_b,
    .disc_detail .album_lead_c {
        font-size: 3.7vw;
        line-height: 2.6em;
        margin-bottom: 60px;
    }
    .disc_detail .album_lead_c {
        padding: 6%;
        margin-bottom: 20px;
        line-height: 2em;
    }
    .album_lead span.big {
        font-size: 3.7vh;
    }
    .album_lead_b span.big {
        font-size: 3.7vh;
    }
    .disc_detail h1,
    .disc_detail h1.type_b {
        font-size: 8vw;
        padding-top: 50px;
        margin-bottom: 20px;
    }
    .disc_detail h1.type_c {
        font-size: 6vw;
    }
    .disc_video {
        width: 100%;
        padding: 0;
    }
    .disc_video iframe {
        width: 90%;
        height: 38vh;
    }
    .disc_comments {
        width: 90%;
    }
    .disc_comments p {
        font-size: 1.6rem;
        line-height: 1.8em;
    }
    .jacket {
        width: 90%;
        margin: auto auto 20px;
        float: none;
    }
    .disc_info {
        width: 96%;
        margin: auto;
    }
    .btn_area {
        padding: 30px 0;
    }
    .btn_area ul li {
        float: none;
        width: 74%;
        margin: auto auto 15px;
        padding: 0;
    }
    .btn_area ul li a {
        padding: 12px 0;
        font-size: 1.6rem;
    }
    .btn_area ul li a:before {
        top: 11px;
    }
    .btn_area_b ul {
        display: inherit;
    }
    .btn_area_b ul li {
        width: 74%;
        margin: auto auto 15px;
        padding: 0;
    }
    .btn_area_b ul li a {
        padding: 12px 0;
        font-size: 1.6rem;
    }
    .btn_area_b ul li a:before {
        top: 11px;
    }
    .disc_comments h2 span {
        display: block;
        margin-left: inherit;
    }
    .disc_comments h3 {
        font-size: 2rem;
    }
    .band_description,
    .band_description_b,
    .band_description_c {
        background-image: none;
        height: inherit;
    }
    .band_description img {
        margin-bottom: 15px;
    }
    .band_description p,
    .band_description_b p {
        text-shadow: none;
        color: #000;
        position: inherit;
        top: inherit;
        left: inherit;
        font-size: 1.4rem;
        width: 90%;
        margin: auto auto 15px;
        line-height: 1.8em;
    }
    .dic_main_list li a .more,
    .other_list li a .more {
        opacity: inherit;
        position: inherit;
        display: block;
        top: inherit;
        right: inherit;
        left: inherit;
        font-size: inherit;
        color: inherit;
        text-align: left;
        text-shadow: none;
    }
    .dic_main_list li a:hover .more,
    .other_list li a:hover .more {
        opacity: inherit;
    }
    .disc_detail h1.ttl_swingfor {
        width: 90%;
        margin: auto auto 30px;
    }
    #side_one,
    #side_two {
        float: none;
        width: 90%;
        margin: auto auto 50px;
    }
    .ttl_center {
        font-size: 2.2rem;
    }
    .ttl_center_b {
        font-size: 1.8rem;
    }
    .sf_member_list li {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .sf_member_list li img {
        width: 80%;
        display: block;
        margin: auto auto 5px;
    }
    .sf_member_list li:nth-child(even) {
        margin-left: inherit;
    }
    p.pcv2_new_release {
        font-size: 12vw;
    }
    .link_btns {
        width: 90%;
    }

    /********* blog *********/
    dl.blogList {
        width: 94%;
        margin: auto;
    }
    dl.blogList dt,
    dl.blogList dd {
        float: none;
        width: inherit;
        margin: 0px;
    }
    dl.blogList dd {
        padding-top: 0px;
        margin-bottom: 10px;
    }
    ul.scheduleList {
    }
    ul.scheduleList li {
        text-align: left;
    }
    header.entry-header {
        width: 94%;
    }
    .nav-links {
        width: 94%;
    }
    div.nav-previous,
    div.nav-next {
        float: none;
        text-align: left;
        width: 94%;
        margin: 0 auto 30px;
    }
    div.updateBox {
        padding-top: 30px;
        margin: 0px;
    }
    footer {
        padding: 20px 0px 0px;
    }
    footer .footer_right {
        float: none;
        width: 100%;
        display: block;
    }
    footer .footer_right ul {
        display: none;
    }
    footer .footer_left,
    footer .footer_left p {
        text-align: center;
    }
    footer .footer_left p.address a {
        margin: 20px auto;
    }
    .pagetop {
        width: 40px;
    }


}


/* ------------------------------
    レイアウト制御
------------------------------ */
.mb10 {margin-bottom: 10px}
.mb20 {margin-bottom: 20px}
.mb30 {margin-bottom: 30px}
.mb40 {margin-bottom: 40px}
.mb50 {margin-bottom: 50px}
.mb60 {margin-bottom: 60px}
.mb70 {margin-bottom: 70px}

/* ------------------------------
    clearfix
------------------------------ */
.cf:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.cf {
    display: inline-block;
}

/* Hides from IE Mac */
* html .cf {
    height: 1%;
}

.cf {
    display: block;
}

.entry-meta {
    display: none;  
}
