---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout
  title="Musical Theater Songbook vol.1 | 紗理 / SARI"
  description="紗理（SARI）4th Album「Musical Theater Songbook vol.1」。2024年リリース。購入・曲目情報。"
>
  <Header />

  <main>
	<div class="disc_detail">
		<h1 class="target ttl_mtsb"><img src="/images/mtsb/mtsb_logo_black.png" alt="Musical Theater Songbook vol.1"></h1>
		<p class="target album_lead_c"><span class="big">紗理×若井優也<br>New Album</span>
			Musical Theater Songbook vol.1<br>2024.11.1 Release  ¥4,000 税込［冊子＋CD］</p>
		<p class="album_lead_c"><img src="/images/mtsb/img_disc_mtsb.jpg"></p>
		<p class="target album_lead_c">ジャズヴォーカリスト紗理とジャズピアニスト若井優也の究極のDUOで織りなすミュージカル曲集。数々のブロードウェイミュージカル、ミュージカル映画の名曲の中から選りすぐりの名曲13曲を収録。<br>ゲストには、大人気のミュージシャン石若駿(Dr)と馬場孝喜 (Gt)が参加。音に拘り、アナログ録音を実施。<br>それぞれの曲に武部実里の絵と訳詞を載せた豪華40ページの冊子型のブックレットが主体のCDアルバム。まるで絵本のような世界観。見て、聴いて、感じるアルバムが完成。</p>
	</div>
	<div class="disc_detail mb60">
		<h2 class="ttl_center_b">ご購入は下記画像をクリック/タップ</h2>
		<p><a href="https://musicaltheater-jazz.stores.jp/" target="_blank"><img src="/images/mtsb/stores_header.jpg" alt="ヘッダー"></a></p>
	</div>
	<div class="disc_video">
		<iframe width="800" height="400" src="https://www.youtube.com/embed/ayUq83lvtuI?si=16rpSAKNXM4sFOGt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>
	<div class="disc_detail wide" id="analog_lp">
		<h2 class="ttl_center">Information</h2>
		<div class="disc_comments">
			<h3>パーソネル</h3>
			<ul class="mb20">
				<li>紗理 - Vocal</li>
				<li>若井優也 - Piano, Waldorf Zarenbourg, Nord Wave2</li>
			</ul>
			<h4>＜Special Guests＞</h4>
			<ul class="mb40">
				<li>馬場孝喜 - Guitar</li>
				<li>石若駿 - Drums, Percussions</li>
			</ul>
			<h3>収録曲</h3>
			<ol class="track_number mb40">
				<li>Wouldn't It Be Loverly? [マイ・フェア・レディ]</li>
				<li>I Dreamed A Dream [レ・ミゼラブル]</li>
				<li>Belle [美女と野獣]</li>
				<li>Climb Every Mountain [サウンド・オブ・ミュージック] feat. 馬場孝喜</li>
				<li>Singin’ In The Rain [リトル・ネリー・ケリー, 雨に唄えば)]</li>
				<li>Maybe [アニー]</li>
				<li>Promises, Promises [プロミセス・プロミセス)] feat. 石若駿</li>
				<li>My Favorite Things [サウンド・オブ・ミュージック)]</li>
				<li>Ten Minutes Ago [シンデレラ] feat. 馬場孝喜</li>
				<li>Soon As I Get Home [ザ・ウィズ]</li>
				<li>Nowadays [シカゴ]</li>
				<li>All I Ask Of You [オペラ座の怪人] feat. 石若駿</li>
				<li>One Hand, One Heart [ウエスト・サイド物語)]</li>
			</ol>

			<h3>ライナーノーツ</h3>
			<p>雑誌「ジャズ批評」の元編集長で音楽評論家の原田和典氏によるインタビューを豪華4ページ掲載。</p>
			<h3>絵＋訳詞付き</h3>
			<p>全曲に武部実里による絵と歌詞の訳を載せたフルカラーの豪華ブックレット。</p>
			<h3>【販売サイト】Online Store</h3>
			<p><a href="https://musicaltheater-jazz.stores.jp/" target="_blank">https://musicaltheater-jazz.stores.jp/</a></p>
		</div>
	</div>
</main>

  <Footer />
</BaseLayout>