---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout title="Musical Theater Songbook vol.1 | 紗理 / SARI">
  <Header />

<main>
	<div class="disc_detail">
		<h1 class="target type_c">ピアノとチェロとヴォーカルと</h1>
		<p class="target album_lead"><span class="big">美しくて、Crazy ...</span><br>
			ありそうで無かった編成による、<br>
			ジャンルを超えた楽曲と美しくてcrazyなアレンジ。<br>
			ジャズを根底にした自由なアンサンブルを基調に、<br>
			時にクラシカルに、時にPopに、<br>
		メンバーの個性が存分に光る珠玉の９曲。</p>
	</div>
	<div class="disc_video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ED9tyPSbP0o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="disc_detail">
			<div class="jacket">
				<img src="https://sariswing.com/wp/wp-content/themes/twentynineteen/img/img_disc12.jpg">
			</div>
			<div class="disc_info cf mb60">
				<p class="mb20">レーベル：Happines Records<br>発売日：2017/6/10<br>価格： ︎2,800円＋税</p>
				<ol class="track_number mb20">
					<li>Your smiling face /  ジェームス・テイラー</li>
					<li>Come together / ザ・ビートルズ</li>
					<li>You’d be so nice to come home to / ヘレン・メリル</li>
					<li>Both sides now /ジョニー・ミッチェル</li>
					<li>森の中の森  / ピチェヴォ</li>
					<li>Take5  / デイヴ・ブルーベック</li>
					<li>明るい坂道  / ピチェヴォ</li>
					<li>風をあつめて / はっぴいえんど</li>
					<li>Moon River / ヘンリー・マンシーニ</li>
				</ol>
				<p>ピ瀬田創太Piano<br>チェ橋本歩Cello<br>ヴォ紗理Vocal<br>＜ゲスト＞中村誠一 Tennor Sax, Bass Clarinet</p>
			</div>
			<p class="btn_center"><a href="https://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%8E%E3%81%A8%E3%83%81%E3%82%A7%E3%83%AD%E3%81%A8%E3%83%B4%E3%82%A9%E2%88%92%E3%82%AB%E3%83%AB%E3%81%A8-%E3%83%94%E3%83%81%E3%82%A7%E3%83%B4%E3%82%A9/dp/B07C53MXBT/ref=pd_sbs_15_2/357-6588696-6440438?_encoding=UTF8&pd_rd_i=B07C53MXBT&pd_rd_r=ecaf5fde-00c0-461b-a4c7-3a27e1373047&pd_rd_w=k8xt7&pd_rd_wg=XrP3L&pf_rd_p=1585d594-d9d0-474b-8a4e-69eca1566911&pf_rd_r=8JWD56MEK80WMQ6NH13Q&psc=1&refRID=8JWD56MEK80WMQ6NH13Q" target="_blank">amazon</a></p>
		</div>
		<div class="band_description">
			<img src="https://sariswing.com/wp/wp-content/themes/twentynineteen/img/img_pcv01.jpg" class="sp">
			<p>トイレに行ったら戻ってこない、<br class="sp">方向音痴のピアニスト瀬田創太。<br>
				飲みに行ったら帰ってこない、<br class="sp">酔鯨チェリスト橋本歩。<br>
				人の話は基本聞いていない、<br class="sp">馬の耳ヴォーカリスト 紗理。<br>
				3人の絶妙なバランスで織りなすトライアングルサウンドは、<br>
				一度聴いたら癖になる不思議なハーモニー。<br>
				スペシャルゲストにジャズサックス奏者中村誠一を迎え、<br>ファン待望のデビューアルバム「ピアノとチェロとヴォーカルと」が遂に完成!</p>
			</div>

			<div class="disc_detail">
				<div class="disc_comments">
					<h2>ピチェヴォ　プロフィール</h2>
					<h3>ピ： 瀬田創太　Sota Seta Piano</h3>
					<p>幼少からクラシックピアノを長澤律子氏に学び音楽の楽しさを知る。 <br>高校3年で一念発起し、音大ジャズ科を目指す事を決意。堀口マサミ氏に師事。 その後2002年洗足学園音楽大学 ジャズ科に入学。ピアノをユキアリマサ氏に師事。 在学中から講師のバンドや自己のトリオなどで活動し、同大学卒業後もそうした 活動に加え、平原綾香氏の全国ツアーにも参加、ほぼ同じ時期からkokia氏の サポート演奏も始める。<br><br>好きなもの : ゲーム 休日 いい音楽 ポン酢</p>
					<h3>チェ：橋本歩　Ayumi Hashimoto Cello</h3>
					<p>桐朋学園大学音楽学部卒業。在学中よりクラシック以外の音楽にも興味を持つ。<br>
					現在は東京を中心にアーティストのライブやツアーのサポート、レコーディング等で活躍。共演したアーティストは国内外を問わず数えきれない。 2008年9月から一年間アメリカへ人生修行の旅に出かけ、Berklee college of music に在籍し見聞を深めた。自身の弦楽器グループ” fabbomusic strings laboratory” や piano太宰百合とのユニット “AYURI” でも活動中。<br><br>好きなもの：ビートルズ 飲酒 美術館</p>
					<h3>ヴォ：紗理　SARI Vocal</h3>
					<p>横浜生まれ。ジャズサックス奏者の中村誠一を父に持ったが、ジャズには目もくれず、5歳よりダイアナ石山 Song&Danceミュージカル教室に通いダンスと共にミュージカルナンバーを学ぶ。洗足学園音楽大学ジャズヴォーカル科首席卒業。 Berklee College of musicにて2年間留学。帰国後、大阪アジアンドリームス ジャズヴォーカルコンペティション2013で優勝。2013年『The Sweetest Sounds』、2017年『AND I'LL SING ONCE MORE』をリリース。2017年より、ラジオ日本「オトナのJazzTime」のパーソナリティーとして抜擢。また、テレビCM「ゼクシィ」のナレーションをはじめ、TVアニメ劇中歌など数々の歌唱レコーディングでも活躍中。<br><br>好きなもの：卵 イヌ 工作 昼寝</p>
				</div>

				<div class="disc_comments">
					<h2>曲目解説<span>セルフライナーノーツ</span></h2>
					<h3>1. Your smiling face</h3>
					<p>カントリーフィールな原曲のギターサウンドを、ギター無しのこの編成ならではの新しいアンサンブルで。リコーダーとピアニカの牧歌的な響きが素敵なアクセント。CDの始まりにぴったりの、爽やかで楽しげなスタート。</p>
					<h3>2. Come together</h3>
					<p>『今までにない』を目指して作った前衛的なアレンジ。イントロのチェロから世界に引き込まれ、バスクラリネットのアドリブは圧巻。ロックテイストの紗理のボーカルが光る。一曲目は何だったんだというような衝撃的な展開。</p>
					<h3>3. You'd be so nice cone to home</h3>
					<p>お試しで弾いた頭の和音がそのまま採用になった印象的な始まり。ライブ感溢れるJAZZYなテイク。チェロの可能性はこんなに広いんだという渾身のウォーキングベースの四分音符。</p>
					<h3>4. Both sides now</h3>
					<p>「少し伸びた芝生の上にロッキングチェアを置いて、静かに揺れながら今までの人生を思い浮かべて、 少しだけ切なげに微笑んでいるおばあさん」を思い浮かべたアレンジ。</p>
					<h3>5. 森の中の森</h3>
					<p>ピチェヴォ初のオリジナル楽曲は幻想的なムードの楽曲になった。今回のアルバムでは唯一の、紗理 自身によるコーラスと霧がかったような世界観が美しい。少し面白みのあるタイトルとのギャップも楽しい一曲。</p>
					<h3>6. Take5</h3>
					<p>この曲といえば誰もが思い浮かべるあのイントロのフレーズを、あえて使わない意欲的なアレンジ。アイルランドの草原をイメージした壮大なアンサンブル、狼が疾走するようなチェロパート、突如現れる圧倒的なテナーサックス、と盛りだくさん。丁度5分という偶然付きの渾身のテイク。</p>
					<h3>7. 明るい坂道</h3>
					<p>もう一つのオリジナル楽曲は、日本語歌詞付きのポップな爽やかナンバー。3人とは思えない重厚なサウンドと、よく聴くと複雑だがそう感じさせないキャッチィなメロディがアルバムに新鮮な空気を 取り込んだ。</p>
					<h3>8. 風をあつめて</h3>
					<p>はっぴいえんどの名曲がピチェヴォ風に生まれ変わり、どこまでも広がっていくような壮大なアンサ ンブルに仕上がった。イントロパートのチェロで奏でる風の音は、ヘッドフォンで聴く人がより楽しめるように音を工夫した。</p>
					<h3>9. Moon river</h3>
					<p>チェロによる多重録音で、アルバムを締めくくるにふさわしい、本を閉じるような、同時にもう一度 その本を開くようなサウンド。 グロッケンとピアノのユニゾン、どこか素朴さを感じさせるヴォーカルも美しい。</p>
				</div>
			</div>
		</main>

  <Footer />
</BaseLayout>