---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout
  title="The Sweetest Sounds | 紗理 / SARI"
  description="紗理（SARI）1st Album「The Sweetest Sounds」。2013年リリース。"
>
  <Header />

<main>
<div class="disc_detail">
<h1 class="target type_b">The Sweetest Sounds</h1>
<p class="target album_lead_b">私がこれから聞いていくであろう<br class="sp">生涯でいちばん甘い響きは<br>
まだ私の頭の中にあって<br>
私がこれから知っていくであろう<br class="sp">世界でいちばん優しい言葉は<br>
声にされるのを待っている<br>
うっとりするような幸せな光景だって<br>
きっとこれから見ていくんだ<br>
世界で一番素晴らしい愛も<br class="sp">どこかで私を待っているはず<br>
そうきっとどこかで...<br>
<span>「The Sweetest Sounds」歌詞和訳：紗理</span></p>
</div>
<div class="disc_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/amO5lJapFgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div class="disc_detail">
<div class="jacket">
	<img src="/images/the_sweetest_sounds/img_disc13.jpg">
</div>
<div class="disc_info cf">
<p class="mb20">発売元：disk union<br>レーベル：DIW THE GRACE<br>価格： ︎2,700円＋税</p>
<ol class="track_number mb20">
<li>So This is Love /  Mack David, Jerry Livingston, Al Hoffman </li>
<li>If I were a Bell / Frank Loesser</li>
<li>Alice in Wonderland / Sammy Fain</li>
<li>It's Delovely / Cole Poter</li>
<li>Tea For Two / Vincent Youmans</li>
<li>The Sweetest Sounds / Richard Rodgers</li>
<li>All or Nothing at All / Arthur Altman</li>
<li>I've Got a Crush on You / George Gershwin</li>
<li>I'll Follow The Sun / The Beatles</li>
<li>How Deep is Your Love / The Bee Gees</li>
</ol>
<p>紗理 Vocal<br>
瀬田創太 Piano, Melodica, Rhodes<br>
小美濃悠太 Bass<br>
山内陽一朗 Drums<br>
橋本歩 Cello<br>
中村誠一 Tenor Sax, Alt Sax, Bass Clarinet</p>
</div>

<div class="btn_area cf">
<ul>
	<li><a href="https://music.apple.com/jp/album/%E3%82%B6-%E3%82%B9%E3%82%A6%E3%82%A3%E3%83%BC%E3%83%86%E3%82%B9%E3%83%88-%E3%82%B5%E3%82%A6%E3%83%B3%E3%82%BA/1216596386">iTunes</a></li>
	<li><a href="https://www.amazon.co.jp/%E3%82%B6%E3%83%BB%E3%82%B9%E3%82%A6%E3%82%A3%E3%83%BC%E3%83%86%E3%82%B9%E3%83%88%E3%83%BB%E3%82%B5%E3%82%A6%E3%83%B3%E3%82%BA-Sweetest-Sounds-%E7%B4%97%E7%90%86-Sari/dp/B00ELL2KIY/ref=ntt_mus_ep_dpi_1">amazon</a></li>
	<li><a href="https://open.spotify.com/album/3BTdMhiQ4XzDPpsEJrxeiA">Spotify </a></li>
</ul>
</div>

<div class="disc_comments">
<h2>曲目解説<span>セルフライナーノーツ</span></h2>
<h3>1. So This is Love</h3>
<p>ディズニー映画"シンデレラ" の名曲をボサノバアレンジにしてみました。普段は、なかなか一緒に演奏する事の出来ないFenderRhordsと...♪</p>
<h3>2. If I were a Bell</h3>
<p>「もし私が鐘だったら、"DingDong~♪"って鳴っちゃうくらいあなたの事が好き!」初めて知る自分の気持ちに嬉しさを隠しきれない女の子のお話。嬉しいと自然と身体に出てし まう気持ち、すごくわかるから私も歌っているとHappyになれます。</p>
<h3>3. Alice in Wonderland</h3>
<p>ジャズスタンダードとして有名なディズニーナンバー。ある日突然、このイントロを思いつきました。そうしたら最後までスラーッとアレンジが完成しました。まれにこうゆう事 もある。お気に入りのイントロ! </p>
<h3>4. It's Delovely</h3>
<p>Delovelyってどんな意味なの?ってよく聞かれます。Lovely<br>
にDeがつくと最高に!ラブリーって事になります!恋をして幸せな気分MAXな曲です。</p>
<h3>5. Tea For Two</h3>
<p>ピアノの瀬田創太さんとせーので録ったテイク。いつもライブでやっているように何も決めずにその時起こった事を楽しんでセッションしました。そしたら、歌詞間違えちゃった !でも、まいっか...♪?</p>
<h3>6. The Sweetest Sounds</h3>
<p>My Funny ValentineやBlue Moonなど...数々の素晴らしいジャズスタンダードを生んだリチャード・ロジャーズの曲。でも、意外と知られていないのが不思議。初めて聞いた 時、ビビビッ!と来たのを覚えています。ゾクッとして一瞬で「この曲好きだ」って思い ました。<br>
ベースの奏法をイメージして書いたSoli聴いてほしいです!! </p>
<h3>7. I’ll Follow The Sun</h3>
<p>中学生の頃、テープにダビングして良く聞いていたビートルズ。たくさん大好きな曲はあるけれど、すごく唄いたくなった曲!でも、これには実は、もう1つビートルズのナンバーが隠れています...もう気づいていますよね?</p>
<h3>8. I’ve Got a Crush on You</h3>
<p>ガーシュウィンの美しいバラード。3本指に入るほど大好きなジャズバラードです。これも1発で録ったテイク。この曲は、父のテナーサックスに合うだろうなぁーと思い、一緒に録ってもらいました。</p>
<h3>9. All or Nothing at All</h3>
<p>このベースラインを思いついた時、自分の下手なピアノでは、ぜんぜん雰囲気が出なくって、果たしてこのフレーズは、かっこいいのだろうか...?と悩みながら出来上がったアレンジ。結果は、聞いての通り!ベースとバスクラのユニゾンがたまらなく好き! </p>
<h3>10. How Deep is Your Love</h3>
<p>ピアノとチェロとボーカルという珍しい編成。でも、このシンプルな編成がこの曲をより 引き立ててくれている気がします。耳に残る橋本歩さんの美しいチェロの音色に合った美しいビージーズのナンバーです。 </p>
</div>
</div>
</main>

  <Footer />
</BaseLayout>