---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import { supabase } from "../../lib/supabase";

const { data: news, error } = await supabase
  .from("news")
  .select("*")
  .order("date", { ascending: false });

console.log("news:", news);
console.log("error:", error);
---

<BaseLayout title="NEWS | 紗理 / SARI">
  <Header />

  <main>
    <div id="lowerWrap">
      <div class="mainTitle">
        <h1>NEWS</h1>
      </div>

      <div class="news_wrap">
{error && <p>エラー: {error.message}</p>}

{news && news.length > 0 ? (
  news.map((item) => (
    <div class="news_item">
      <p>{item.date}</p>
      <p>{item.title}</p>
    </div>
  ))
) : (
  <p>NEWSがありません</p>
)}
      </div>
    </div>
  </main>

  <Footer />
</BaseLayout>