---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout title="Musical Theater Songbook vol.1 | 紗理 / SARI">
  <Header />

<main>
	<div class="disc_detail">
		<h1 class="type_c pichevo2"><span class="target">ピアノとチェロとヴォーカルと</span><span class="target_b">2</span></h1>
		<p class="target album_lead"><span class="big">ピ 瀬田創太 Piano<br>チェ 橋本歩 Cello<br>ヴォ 紗理 Vocal</span></p>
		<p class="target album_lead">ヴォの呼びかけで3人が出会ったのは、2012年。<br>
			ピ(瀬田創太)とチェ(橋本歩)とヴォ(紗理)、<br>という有りそうでなかった<br class="sp">楽器編成のバンドが誕生する。<br>ジャンルにとらわれず、<br class="sp">自分達の好きな楽曲を取り上げ、<br>(ビートルズからJ-POP、<br class="sp">ジャズスタンダードや映画音楽、<br class="sp">オリジナルソングまで)<br>
		メンバーそれぞれのオリジナルアレンジによって<br>聴き慣れた名曲が美しく、<br class="sp">Crazyに生まれ変わる。</p>
		<p class="pcv2_new_release">NOW ON SALE</p>
		<p style="width:60%;margin:auto auto 35px"><img src="/images/picevo2/img_pcv2_01.jpg"></p>
<div class="btn_area_b cf">
<ul>
	<li><a href="https://sariswing.stores.jp/items/60de8ae2ec877131eb81a10a" target="_blank">Online Store</a></li>
	<li><a href="https://music.apple.com/jp/album/piano-cello-vocal-2/1578206577" target="_blank">Apple Music</a></li>
	<li><a href="https://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%8E%E3%81%A8%E3%83%81%E3%82%A7%E3%83%AD%E3%81%A8%E3%83%B4%E3%82%A9%E3%83%BC%E3%82%AB%E3%83%AB%E3%81%A8-2-%E3%83%94%E3%83%81%E3%82%A7%E3%83%B4%E3%82%A9/dp/B096JMBTZL/" target="_blank">amazon</a></li>
	<li><a href="https://open.spotify.com/album/01MV84cXQBPNqK7uMxfIDO" target="_blank">Spotify </a></li>
</ul>
</div>
		<p class="target album_lead">トイレに行ったら戻ってこない、<br class="sp">方向音痴のピアニスト瀬田創太。<br>飲みに行ったら帰ってこない、<br class="sp">酔鯨チェリスト橋本歩。<br>人の話は基本聞いていない、<br class="sp">馬の耳ヴォーカリスト紗理。<br>3人の絶妙なバランスで織りなす<br class="sp">トライアングルサウンドは、<br>一度聴いたら癖になる不思議なハーモニー。</p>
	</div>


		<div class="band_description_c">
			<img src="/images/picevo2/img_pcv02.jpg" class="sp">
			<!--p>トイレに行ったら戻ってこない、<br class="sp">方向音痴のピアニスト瀬田創太。<br>
				飲みに行ったら帰ってこない、<br class="sp">酔鯨チェリスト橋本歩。<br>
				人の話は基本聞いていない、<br class="sp">馬の耳ヴォーカリスト 紗理。<br>
				3人の絶妙なバランスで織りなすトライアングルサウンドは、<br>
				一度聴いたら癖になる不思議なハーモニー。<br>
				スペシャルゲストにジャズサックス奏者中村誠一を迎え、<br>ファン待望のデビューアルバム「ピアノとチェロとヴォーカルと」が遂に完成!</p-->
			</div>
		</main>

  <Footer />
</BaseLayout>