---
const pathname = Astro.url.pathname;
const isLower = pathname !== "/";
const headerId = isLower ? "lower" : undefined;
---

<header id={headerId}>
  <div class="wrap">
    <h1 class="logo">
      <a href="/">SARI WEBSITE</a>
    </h1>

    <nav id="navpc">
      <ul class="gnav">
        <li><a href="/about/">ABOUT</a></li>
        <li><a href="/live-schedule/">SCHEDULE</a></li>
        <li><a href="/news/">NEWS</a></li>
        <li><a href="https://sariswing.com/blog/">BLOG</a></li>
        <li><a href="/discography/">DISCOGRAPHY</a></li>
        <li><a href="https://sariswing.stores.jp/" target="_blank" rel="noopener noreferrer">SHOP</a></li>
        <li><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>

    <div class="social_btn_pc">
      <ul>
        <li><a href="https://www.pinterest.jp/sariswing/" target="_blank" rel="noopener noreferrer"><i class="fab fa-pinterest-p"></i></a></li>
        <li><a href="https://twitter.com/SariSwing" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/sariswing/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/sariswing/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>

    <button type="button" class="zdo_drawer_button menu-btn">
      <span class="zdo_drawer_bar zdo_drawer_bar1 ease"></span>
      <span class="zdo_drawer_bar zdo_drawer_bar2 ease"></span>
      <span class="zdo_drawer_bar zdo_drawer_bar3 ease"></span>
    </button>

    <nav id="navsp" class="sp">
      <div class="navsp_inner">
        <div class="gnav">
          <ul>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/live-schedule/">SCHEDULE</a></li>
            <li><a href="/news/">NEWS</a></li>
            <li><a href="https://sariswing.com/blog/">BLOG</a></li>
            <li><a href="/discography/">DISCOGRAPHY</a></li>
            <li><a href="https://sariswing.stores.jp/" target="_blank" rel="noopener noreferrer">SHOP</a></li>
            <li><a href="/contact/">CONTACT</a></li>
          </ul>
        </div>

        <div class="social_btn_sp">
          <ul>
            <li><a href="https://www.pinterest.jp/sariswing/" target="_blank" rel="noopener noreferrer"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="https://twitter.com/SariSwing" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/sariswing/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/sariswing/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>