---
import news from "../data/news.json";

const latestNews = news.slice(0, 3);
---

<section class="news-list">
  <h2>NEWS</h2>

  <ul>
    {latestNews.map((item) => (
      <li>
        <a href={item.link}>
          <span>{item.date}</span>
          {item.title}
        </a>
      </li>
    ))}
  </ul>
</section>