---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<BaseLayout
  title="and I'll sing once more | 紗理 / SARI"
  description="紗理（SARI）2nd Album「and I'll sing once more」。2017年リリース。"
>
  <Header />

<main>
	<div class="disc_detail">
		<h1 class="target">and I’ll sing once more</h1>
		<p class="target album_lead"><span class="big">そして、わたしはきっと<br class="sp">もう一度歌うだろう...</span><br>
			歌っても歌ってもまた歌いたくなってしまう<br>
			それは一緒に奏でるメンバーの演奏に<br class="sp">毎回インスパイアされるから<br>
			それはその音を聴いてくれる方がいるから<br>
		それはジャズを歌う楽しさを知っているから</p>
	</div>
	<div class="disc_video"><iframe width="640" height="340" src="https://www.youtube.com/embed/jrMeOOn-QjU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	<div class="disc_detail">
		<div class="jacket">
			<img src="/images/and_ill_sing_once_more/img_disc14.jpg">
		</div>
		<div class="disc_info cf">
			<p class="mb20">発売元：disk union<br>レーベル：DIW THE GRACE<br>価格： ︎2,900円＋税</p>
			<ol class="track_number mb20">
				<li>The sound of music / Richard Rodgers</li>
				<li>Just one of those things / Cole Porter</li>
				<li>Smile / Charlie Chaplin</li>
				<li>Destination moon / Marvin Fisher</li>
				<li>The Waltz / Silje Nergaard</li>
				<li>Too darn hot / Cole Porter</li>
				<li>'S Wonderful / George Gershwin</li>
				<li>I wish you love / Léo Chauliac, Charles Trenet</li>
				<li>Them there eyes / Maceo Pinkard, Doris Tauber, William Tracey</li>
				<li>La vie en rose / Louiguy</li>
				<li>The Lady is a tramp / Richard Rodgers</li>
				<li>Every time we say goodbye / Cole Porter</li>
			</ol>
			<p>紗理 Vocal, Kazoo, Music box<br>
				成田祐一 Piano, Accordion<br>
				中林薫平 Bass<br>
				河村亮 Drums<br>
				市原ひかり Trumpet, Flugelhorn<br>
			鈴木直人 Guitar</p>
		</div>

		<div class="btn_area cf">
			<ul>
				<li><a href="https://music.apple.com/jp/album/and-ill-sing-once-more/1216600708">iTunes</a></li>
				<li><a href="https://www.amazon.co.jp/%E3%82%A2%E3%83%B3%E3%83%89%E3%83%BB%E3%82%A2%E3%82%A4%E3%83%AB%E3%83%BB%E3%82%B7%E3%83%B3%E3%82%B0%E3%83%BB%E3%83%AF%E3%83%B3%E3%82%B9%E3%83%A2%E3%82%A2-%E7%B4%97%E7%90%86/dp/B01MUGG9B2/ref=pd_sbs_15_1/357-6588696-6440438?_encoding=UTF8&pd_rd_i=B01MUGG9B2&pd_rd_r=3e1cef06-8a2b-4a25-b574-88fa113be102&pd_rd_w=9yQAq&pd_rd_wg=hTcrz&pf_rd_p=1585d594-d9d0-474b-8a4e-69eca1566911&pf_rd_r=XB06JMCZVVZHEK6BFVJW&psc=1&refRID=XB06JMCZVVZHEK6BFVJW">amazon</a></li>
				<li><a href="https://open.spotify.com/album/35hzpeqA4coIX2uryJpdxo">Spotify </a></li>
</ul>			
</div>

			<div class="disc_comments">
				<h2>曲目解説<span>セルフライナーノーツ</span></h2>
				<h3>1. The sound of music </h3>
				<p>Music by Richard Rodgers<br>Lyrics by Oscar Hammerstein II<br>Arranged by SARI<br>
				仲良しだった祖母が大好きだったミュージカル映画”サウンドオブミュージック”。彼女に観せてもらったのがこの曲との出会いでした。それからは私もお気に入りの映画となり、2人で一緒に何度も何度も観ました。祖母は、歌う事が大好きでしたが、時代もあり自分のやりたい職業につ けなかったので、私はなんだか歌う事の大好きな主人公のマリアさんと重ねて見てしまいます。 そして、この曲は、たくさんの素晴らしいミュージシャンの方々と一緒に演奏させて頂き、インスパイアされたことで、今回のアレンジへと姿 を変えました。演奏する1つ1つの大事な瞬間に出会えていなかったらこのアレンジは作れていなかったと思っています。私にとってたくさん の思いが詰まった曲となりました。</p>
				<h3>2. Just one of those things</h3>
				<p>Music&amp;Lyrics by Cole Porter<br>Arranged by Kunpei Nakabayashi<br>
					1935年に作られた古いジャズスタンダードをメンバーである中林薫平さんがアレンジをして下さいました。Swingより明らかに苦手なFunkフィー ル。新鮮な気持ちでドキドキしながら歌わせて頂いたのを覚えております。私にとって新しい自分への挑戦の曲でもあります。 
				「そんなのよくあることの1つだったんだ」と自分に言い聞かせる失恋の歌です。強がりな女性の歌かな。</p>
				<h3>3. Smile</h3>
				<p>Music&amp;Lyrics by Charlie Chaplin<br>Arranged by Kunpei Nakabayashi<br>チャップリンの名曲Smile。私はやはりナットキングコールの歌うこの曲が一番好きです。イントロのフレーズはどこか懐かしく、 どこか切ない。 
				「どんなに辛い事があっても笑っていればきっといい事がある。」簡単な事ではないけれど、私もそう思います。</p>
				<h3>4. Destination moon</h3>
				<p>Music by Marvin Fisher<br>Lyrics by Roy Alfred<br>Arranged by SARI<br>今回のCDのためにレコーディング直前に書いたアレンジです。直前のリハーサルでこのアレンジを持っていって、うまくいくかドキドキでした が、みんなが意見を出してくれてまとまった1曲。ギターとピアノのユニゾン、自分でも気に入っております。 
				「ロケットに乗って2人で月へ旅に出よう」月へのハネムーン宇宙旅行。甘~い新婚ソングですね。</p>
				<h3>5. The Waltz</h3>
				<p>Music by Silje Nergaard<br>Lyrics by Michael Deegan McGurk<br>ノルウェーのシンガーSilje Nergaardのラブソング。とても詩的な美しい歌詞がついています。歌詞の意味もメロディーも、聴いた瞬間虜になった 曲。市原ひかりさんのフリューゲルホーンをフィーチャーで録音しました。 
				「バンドを鳴らして。思うがままに奏でるの。そうするとあなたのワルツがグルグル私の世界に入ってきて、音楽も言葉もまるで声が上ずった かのようになってしまうの。」そう。それは、自分にだけ聞ここえる恋のワルツ... </p>
				<h3>6. Too darn hot</h3>
				<p>Music&amp;Lyrics by Cole Porter<br>Arranged by SARI<br>私がジャズを歌うきっかけとなったアルバム。Ella Fitzgeraldが歌うコールポーターソングブック。その中に入っている曲です。とてもセクシーな 歌なのに、セクシーさはみじんも出せませんでしたが、Swingする楽しさはだけは伝わればいいな... 
				「あの子といちゃいちゃしたいけど、暑すぎる!」1948年のコメディーミュージカル”キス・ミー・ケイト”の劇中に歌われています。 </p>
				<h3>7. ’S Wonderful</h3>
				<p>Music by George Gershwin<br>Lyrics by Ira Gershwin<br>Arranged by Yuichi Narita<br>’Sは、It’sを省略したもの。”It’s Wonderful”どうやらフランス語の「ce」(it )に似せた発音らしいです。 
				「あの人が私を好きだなんて...!」 す、すてき! </p>
				<h3>8. I wish you love</h3>
				<p>Music by Léo Chauliac, Charles Trenet<br>Lyrics by Charles Trenet<br>Arranged by Hikari Ichihara<br>
					いきなり「さよなら」から始るこの歌。お別れの曲ではあるけれど、相手の幸せを願う壮大な愛が詰まったすごい曲だと思っています。最後に 出てくる成田祐一さんのアコーディオンがなんとも哀愁漂わせます。 
				「何よりも望む事は、君が次の恋をして幸せになってくれること。」</p>
				<h3>9. Them there eyes</h3>
				<p>Music&amp;Lyrics by Maceo Pinkard, Doris Tauber, William Tracey<br>
					この曲は、何も決めずに自由に演奏してみよう!という事で、ほとんど遊び感覚で録音した曲。せーので1テイク目を録り終えて、全員一致で
					「これでいきましょう。」となりました。なので、1テイクしか録音してません。ライブ感溢れてます。
				「初めてあなたのその瞳を見た瞬間、恋に落ちてしまったの。」誰にも止められない一目惚れソング。</p>
				<h3>10. La vie en rose</h3>
				<p>Music by Louiguy<br>English Lyrics by Mack David<br>Japanese Lyrics by SARI<br>
				憧れのパリを初めて旅した時、本場のシャンソンを聴く事が出来ました。その時聴いたこの曲。帰りの飛行機の中で、構想を練って日本に帰っ て次の日のライブですぐ唄いました。フランス語は歌えないけど、その代わり、想いが伝わるように日本語の詞を乗せてみました。オルゴール は、パリの街中で買ったお土産。</p>
				<h3>11. The Lady is a Tramp</h3>
				<p>Music by Richard Rodgers<br>Lyrics by Lorenz Hart<br>Arranged by Kunpei Nakabayashi<br> 
					メンバー全員参加してもらっている私の大好きなSWINGナンバー!!!録音を忘れるくらい楽しんで歌っていたのを覚えています。録音後、プレイ バックを聴いていたら、歌い終わりに思わず笑いが漏れてしまっていて、みんなで笑いました。その声、そのまま残ってます。 
				1930年、その時代のお金持ちハイ・ソサエティーにまぎれこんだ、ちょっと変わり者の女性の事を歌っているミュージカルソング。</p>
				<h3>12. Everytime we say goodbye</h3>
				<p>Music&amp;Lyrics by Cole Porter<br>Arranged by Kunpei Nakabayashi<br>「君とさよならすると幸せな曲のはずなのに長調から短調に変わってしまう。」この歌 詞に合わせ、実際にその場所は、「メジャーからマイナーに」変化するコード進行を使 っている曲です。そんな遊びがあるのも昔のスタンダードによくある面白い所。</p>

			</div>
		</div>
	</main>

  <Footer />
</BaseLayout>