---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<BaseLayout title="Discography | 紗理 / SARI">
  <Header />

  <main>
    <div id="lowerWrap">
      <div class="mainTitle discography">
        <h1>DISCOGRAPHY</h1>
      </div>

      <div id="discoWrap" class="cf">
        <div class="discoArea">
          <h2>SARI Albums<span>リーダーアルバム</span></h2>

          <ul class="dic_main_list cf">
            <li><a href="/discography/musical-theater-songbook-vol-1/"><img src="/images/discography/img_disc_mtsb.jpg" /><br />2024 4th Album<br />Musical Theater Songbook vol.1<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
            <li><a href="/discography/swingfor/"><img src="/images/discography/img_disc_sf_lp.jpg" /><br />2020 3rd Album<br />Swing For...<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
            <li><a href="/discography/and_ill_sing_once_more/"><img src="/images/discography/img_disc14.jpg" /><br />2017 2nd Album<br />and I’ll sing once more<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
            <li><a href="/discography/the_sweetest_sounds/"><img src="/images/discography/img_disc13.jpg" /><br />2013 1st Album<br />The Sweetest Sounds<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
          </ul>

          <h2 class="clear">BAND<span>バンドアルバム</span></h2>

          <ul class="dic_main_list cf">
            <li><a href="/discography/picevo2/"><img src="/images/discography/img_pcv2_01.jpg" /><br />ピアノとチェロとヴォーカルと2 / ピチェヴォ<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
            <li><a href="/discography/picevo/"><img src="/images/discography/img_disc12.jpg" /><br />2018 ピアノとチェロとヴォーカルと / ピチェヴォ<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
            <li><a href="/discography/chaichee/"><img src="/images/discography/img_disc11.jpg" /><br />2016 Girl Talk / Chai-Chee Sisters<span class="more"><i class="fas fa-chevron-right"></i>MORE INFO</span></a></li>
          </ul>

          <h2>MEMBER<span>参加アルバム</span></h2>

          <ul class="other_list cf">
            <li><a href="http://kekkaisensen.com/music_ost.html" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc10.jpg" />2017 TVアニメ「血界戦線 &amp; BEYOND」オリジナルサウンドトラック<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://music.apple.com/jp/album/rockin-jivin-swingin/1318115599" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc09.jpg" />2015 Rockin’Jivin’Swingin’<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://soundcloud.com/strawberry-music-japan" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc08.jpg" />2015 STRAWBERRY MUSIC Vol.2 by earth music&amp;ecology<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://www.amazon.co.jp/SWINGY-akiko/dp/B007FGQT8O" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc07.jpg" />2012 SWINGY SWINGY/ akiko&amp;Chai-Chee Sisters<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://music.apple.com/jp/album/tokyo-caf%C3%A9-freak-jazz-flavor/527880912" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc06.jpg" />2012 TOKYO CAFE FREAK Jazz Flavor<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://music.apple.com/hn/album/dark-eyes/1400108825" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc05.jpg" />2012 黒い瞳 Dark Eyes / akiko<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://www.amazon.co.jp/%E6%96%B0%E4%B8%96%E7%B4%80%E3%82%B9%E3%82%BF%E3%83%B3%E3%83%80%E3%83%BC%E3%83%89-%E3%82%AF%E3%83%AA%E3%83%A4%E3%83%BB%E3%83%9E%E3%82%B3%E3%83%88/dp/B00AHU67AU" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc04.jpg" />2012 新世紀スタンダード / クリヤマコト<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://music.apple.com/jp/album/sweet-swing-for-hersheys/470495843" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc03.jpg" />2011 Sweet Swing for HERSHEY’S<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://music.apple.com/hn/album/across-the-universe-ep/1392397218" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc02.jpg" />2011 Across the Universe / akiko<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
            <li><a href="https://www.amazon.co.jp/%E5%86%99%E7%9C%9F%E6%98%A0%E7%94%BB%E3%80%8C%E3%83%A4%E3%83%BC%E3%83%81%E3%83%A3%E3%82%A4%E3%82%AB%E3%80%8Dmusic-book-%E3%82%B5%E3%83%B3%E3%83%88%E3%83%A9-x/dp/B0018DEXBA/ref=sr_1_3?s=music&ie=UTF8&qid=1431954520&sr=1-3&keywords=%E3%83%A4%E3%83%BC%E3%83%81%E3%83%A3%E3%82%A4%E3%82%AB" target="_blank" rel="noopener noreferrer"><img src="/images/discography/img_disc01.jpg" />2008 ヤーチャイカ music book<span class="more"><i class="fas fa-chevron-right"></i>BUY NOW</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <Footer />
</BaseLayout>