---
import AdminGosakiStagingShellLayout from "../components/AdminGosakiStagingShellLayout.astro";
import AdminGosakiStagingOperatorHome from "../components/AdminGosakiStagingOperatorHome.astro";
import AdminGosakiStagingAuthGate from "../components/AdminGosakiStagingAuthGate.astro";
import {
  GOSAKI_STAGING_ADMIN_SCHEDULE_PATH,
  GOSAKI_STAGING_PREVIEW_URL,
} from "../gosaki-staging-admin-paths";
---

<AdminGosakiStagingShellLayout title="管理画面">
  <AdminGosakiStagingAuthGate>
    <div class="admin-gosaki-admin-pages">
      <AdminGosakiStagingOperatorHome
        previewUrl={GOSAKI_STAGING_PREVIEW_URL}
        schedulePath={GOSAKI_STAGING_ADMIN_SCHEDULE_PATH}
        showAuthBar={false}
      />
    </div>
  </AdminGosakiStagingAuthGate>
</AdminGosakiStagingShellLayout>
