---
import AdminGosakiStagingShellLayout from "../components/AdminGosakiStagingShellLayout.astro";
import AdminGosakiStagingYoutubeOperatorPage from "../components/AdminGosakiStagingYoutubeOperatorPage.astro";
import AdminGosakiStagingAuthGate from "../components/AdminGosakiStagingAuthGate.astro";
import { loadGosakiYoutubeEmbedAdminBinding } from "../../../../../../src/lib/admin/staging-data/gosaki-youtube-embed-admin-binding";

const binding = loadGosakiYoutubeEmbedAdminBinding();
---

<AdminGosakiStagingShellLayout title="YouTube設定">
  <AdminGosakiStagingAuthGate>
    <div class="admin-gosaki-admin-pages">
      <AdminGosakiStagingYoutubeOperatorPage binding={binding} />
    </div>
  </AdminGosakiStagingAuthGate>
</AdminGosakiStagingShellLayout>
