---
import AdminGosakiStagingShellLayout from "../components/AdminGosakiStagingShellLayout.astro";
import AdminGosakiStagingDiscographyOperatorPage from "../components/AdminGosakiStagingDiscographyOperatorPage.astro";
import AdminGosakiStagingAuthGate from "../components/AdminGosakiStagingAuthGate.astro";
import { resolveGosakiDiscographySupabaseReadBinding } from "../../../../../../src/lib/admin/staging-data/gosaki-discography-supabase-read-binding";

const binding = await resolveGosakiDiscographySupabaseReadBinding();
---

<AdminGosakiStagingShellLayout title="ディスコグラフィー管理">
  <AdminGosakiStagingAuthGate>
    <div class="admin-gosaki-admin-pages">
      <AdminGosakiStagingDiscographyOperatorPage binding={binding} />
    </div>
  </AdminGosakiStagingAuthGate>
</AdminGosakiStagingShellLayout>
